*{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
html,body{
	font-family: '微软雅黑';
	width: 100%;
	height: 100%;
}
html{
	font-size: 62.5%;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide{
	overflow: hidden;
}

/*第一页*/
.box{
	background:url(img/1-bg.jpg) no-repeat;
	position: relative;
	background-size: cover;
}

.box_1{
	position: absolute;
	top: 26%;
	left: 19%;
}
.to_btm{
	width: 87%;
	height: 58%;
}
.box_1{
	width: 70%;
	height: 23%;
}
#music{
	width: 10%;
	height: 6%;
	position: absolute;
	top: 1.5%;
	right: 2%;
	border: 1px solid #fff;
	border-radius: 50%;
	z-index: 9999;
}
#music img{
	width: 112%;
	height:101%;
	position: absolute;
	z-index: 9999;
	top: 2%;
	right: -6%;
}
#open{
	animation: miu 1s linear infinite;
	-webkit-animation: miu 1s linear infinite;
}
@-webkit-keyframes miu{
	0%{
		-webkit-transform:rotateY(0deg);
	}
	100%{
		-webkit-transform: rotateY(360deg);
	}
}
@keyframes miu{
	0%{
		-webkit-transform:rotateY(0deg);
	}
	100%{
		-webkit-transform: rotateY(360deg);
	}
}
.block{
	width: 16%;
	height: 7%;
	position: fixed;
	bottom: 6%;
	left: 44%;
	animation: chang 2s linear infinite;
	z-index: 9999;
}
@-webkit-keyframes chang{
	0%{
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	100%{
		opacity: 0;
		-webkit-transform: translateY(-15px);
	}
}

.box_2{
	position: absolute;
	left: 9%;
	bottom: 26%;

}
.box_2,.to_top{
	width: 90%;
	height: 18%;
}
/*第二页*/
.box1{
	background: url(img/bj-2.png) no-repeat;
	background-size: cover;
}

.two_r{
	width: 90%;
	height: 18%;
	margin: 20.5% 1% 1% 5%;
	position: relative;
	background:rgba(255,255,255,.3);
	opacity: 0.2;
	padding: 2% 0;
	padding-top: 3%;
}
.two{
	width: 86%;
	height: 18%;
	/*padding: 1% 0;*/
	/*overflow: hidden;*/
	position: absolute;
	top: 14%;
	left: 8%;
}
.two h3{
	color: yellow;
	text-align: center;
	font-size: 2.8rem;
	position: absolute;
	top: 4%;
	left: 3%;

}
.two p{
	color: #ffffff;
	font-size: 2.3rem;
	line-height: 150%;
	position: absolute;
	top: 29%;
	left: 0%;
}
.imgList{
	width: 90%;
	height: 40%;
	position: absolute;
	top: 54%;
	left: 6%;
}
.imgList img{
	width: 27%;
	/*height: 36%;*/
	margin: 0% 2%;
}
.imgList img:nth-child(4){
	position: absolute;
	top: 40%;
	left: 15%;
}
.imgList img:nth-child(5){
	position: absolute;
	top: 40%;
	left: 49%;
}
/*第三页*/
.box2{
	background: url(img/bj-3.png) no-repeat;
	background-size: cover;
}
/*第四页*/
.box4{
	background: url(img/bj-4.png) no-repeat;
	background-size: cover;
}
.box4 p{
	font-size: 4.6rem;
	color: #fff;
	margin: 26% 1% 1% 13.5%;
}
.rot{
	width: 70%;
	height: auto;
	position: absolute;
	top:35%;
	left: 15%;
	
}
.imgList1{
	width: 100%;
	/*animation: roe 4s 3s ease forwards;*/
}
@-webkit-keyframes roe{
	0%{
		-webkit-transform: rotateZ(0deg) scale(1);
		transform: rotateZ(0deg) scale(1)
	}
	50%{
		-webkit-transform: rotateZ(360deg) scale(1.3);
		transform: rotateZ(360deg) scale(1.3);
	}
	100%{
		-webkit-transform: rotateZ(0deg) scale(1.3);
		transform: rotateZ(0deg) scale(1.3);
	}
}
@keyframes roe{
	0%{
		-webkit-transform: rotateZ(0deg) scale(1);
		transform: rotateZ(0deg) scale(1)
	}
	50%{
		-webkit-transform: rotateZ(360deg) scale(1.3);
		transform: rotateZ(360deg) scale(1.3);
	}
	100%{
		-webkit-transform: rotateZ(0deg) scale(1.3);
		transform: rotateZ(0deg) scale(1.3);
	}
}
/*第五页*/
.box5{
	background: url(img/9-bg.jpg) no-repeat;
	background-size: cover;
}
.five img{
	width: 39%;
	height: 35%;
	margin: -5% 1% 1% 31%;

}
.five p{
	color: #fff;
	font-size: 2.8rem;
	margin: 15% 8% 1% 8%;
	line-height: 3.5rem;
}
/*第六页*/
.six img{
	width: 39%;
	height: 35%;
	margin: -5% 1% 1% 31%;
	
}
.six p{
	color: #fff;
	font-size: 2.8rem;
	margin: 15% 8% 1% 8%;
	line-height: 3.5rem;
}
/*第七页*/
.seven img{
	width: 39%;
	height: 35%;
	margin: -5% 1% 1% 31%;
	
}
.seven p{
	color: #fff;
	font-size: 2.8rem;
	margin: 15% 8% 1% 8%;
	line-height: 3.5rem;
}
/*第八页*/
.eight img{
	width: 39%;
	height: 35%;
	margin: -5% 1% 1% 31%;
	
}
.eight p{
	color: #fff;
	font-size: 2.8rem;
	margin: 15% 8% 1% 8%;
	line-height: 3.5rem;
}
@-webkit-keyframes fiv{
	0%{
		-webkit-transform: rotateY(0deg) scale(1);
	}
	50%{
		-webkit-transform: rotateY(180deg) scale(1.5);
	}
	100%{
		-webkit-transform: rotateY(0deg) scale(1);
	}
}
/*第九页*/
.box6{
	background: black;
}
.nine .yxhz{
	width: 100%;
	height: 15%;
}
.nin{
	width: 100%;
	height: 100%;
	margin: 6% 14%;
}
.nin img{
	width: 33%;
	height: 22%;
	margin: 0% 3% 1% 1%;
}
/*第十页*/
.ten h3{
	font-size: 4.8rem;
	margin: 11% 10%;
	color: #fff;
}
.ten p{
	color: #ffffff;
	width: 86%;
	height: 40%;
	overflow: hidden;
	font-size: 2.6rem;
	line-height: 3.5rem;
	position: absolute;
	top: 21%;
	left: 7%;
}
.ten img{
	width: 92%;
	height: 25%;
	margin: 56% 1% 1% 4%;
}
#wordP p{
	font-size: 1.6rem;
    padding: 0 6%;
    color: #f5f5f5;
    line-height: 3.5rem;
    margin-top: 18%;
}
/*第十一页*/
.box7{
	background: url(img/page11.jpg) no-repeat;
	background-size: cover;
}
.eleven img{
	width: 100%;
	height: 15%;
}
.xyfc{
	width: 100%;
	height: 140%;
	margin: 1% 1% 1% 8.5%;
}
.xyfc img{
	width: 40%;
	height: 10%;
	margin: 1% 3% 3% 0%;
}
/*第十二页*/
.twe{
	width: 107%;
	height: 40%;
	margin: 33% 1% 1% -1%;
}
.twe img{
	width: 100%;
	opacity: 0;
}
@-webkit-keyframes infoAni{
	0%{-webkit-transform:skew(10deg); opacity:0.2;}
	40%{-webkit-transform:skew(-10deg); opacity:0.4;}
	60%{-webkit-transform:skew(5deg); opacity:0.6;}
	100%{-webkit-transform:skew(0deg); opacity:1;}
}
/*第十三页*/
.thre img{
	width: 78%;
	height: 8%;
	margin: 11% 1% 1% 9%;
}
.thre p{
	font-size: 2.6rem;
    padding: 0 6%;
    color: #fff;
    line-height: 3.5rem;
    margin: 15% 1% 1% 1%;
}
.thre .end{
	width: 60%;
	height: 30%;
	margin: 20% 1% 1% 26%;
}